<div class="filter-and-create-btn">
    <mat-form-field appearance="outline">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
  
    <button mat-flat-button (click)="openDialog()"> Create Order </button>
  </div>
  
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  
    <!-- Order Number Column -->
    <ng-container matColumnDef="Order Number">
      <th mat-header-cell *matHeaderCellDef> Order Number </th>
      <td mat-cell *matCellDef="let order"> {{order.orderNumber}} </td>
    </ng-container>
  
    <!-- Customer Name Column -->
    <ng-container matColumnDef="Customer Name">
      <th mat-header-cell *matHeaderCellDef> Customer Name </th>
      <td mat-cell *matCellDef="let order"> {{order.customerName}} </td>
    </ng-container>
  
    <!-- Phone Number Column -->
    <ng-container matColumnDef="Phone Number">
      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let order"> {{order.phoneNumber}} </td>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let order"> {{order.email}} </td>
    </ng-container>
  
    <!-- Address Column -->
    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef style="min-width: 200px;"> Address </th>
      <td mat-cell *matCellDef="let order"> {{order.completeAddress}} </td>
    </ng-container>
  
    <!-- Quantity Column -->
    <ng-container matColumnDef="Quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let order"> {{order.quantity}} </td>
    </ng-container>
  
    <!-- Ordered Date Column -->
    <ng-container matColumnDef="Ordered Date">
      <th mat-header-cell *matHeaderCellDef style="min-width: 114px;"> Ordered Date </th>
      <td mat-cell *matCellDef="let order"> {{order.orderedDate | date: 'dd-MMM-YYYY'}} </td>
    </ng-container>
  
    <!-- Delivery Date Column -->
    <ng-container matColumnDef="Delivery Date">
      <th mat-header-cell *matHeaderCellDef style="min-width: 114px;"> Delivery Date </th>
      <td mat-cell *matCellDef="let order"> {{order.deliveryDate | date: 'dd-MMM-YYYY'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let order">
        <button mat-icon-button aria-label="expand row" (click)="(expandedOrder = expandedOrder === order ? null : order); $event.stopPropagation()">
          @if (expandedOrder === order) {
            <mat-icon>keyboard_arrow_up</mat-icon>
          } @else {
            <mat-icon>keyboard_arrow_down</mat-icon>
          }
        </button>
      </td>
    </ng-container>
  
    <!-- Star Column -->
    <ng-container matColumnDef="star">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialogForEdit(element)" [disabled]="hasDatePassed(element.deliveryDate)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item  [disabled]="hasDatePassed(element.deliveryDate)" (click)="deleteOrder(element)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
          <button mat-menu-item (click)="generateBill(element)">
            <mat-icon>print</mat-icon>
            <span>Print Bill</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell colspan="4" *matCellDef="let order">
        <div class="element-detail"
             [@detailExpand]="order == expandedOrder ? 'expanded' : 'collapsed'">
          <div>
            <h4>Specific Details</h4>
            <div> Name to be printed on the T-Shirt:  {{order.specificDetails.nameOnTShirt}} </div>
            <div> Size of the T-Shirt {{order.specificDetails.sizeOfTShirt}} </div>
            <div> Color: {{order.specificDetails.color}} </div>
            <div> Specific Logo {{order.specificDetails.specificLogo}} </div>
            <div> Design: {{order.specificDetails.design}} </div>
          </div>
        </div>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="element-row"
        [class.expanded-row]="expandedOrder === element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  